        #stimulus {
                width: 1280px;
                border: 0px solid grey;
    		font-family: Verdana;
        }
        body {
            background-color: #C0C0C0;
    		font-size: 20px;
    		margin-top: 300px;
	  		margin-left: 150px;
	  		margin-right: 150px;
        }
    	
    	span {
    		border: 0px solid red;
			display: inline-block;
        }

		span.char {
			padding-bottom: 0.4em;
    		padding-top: 0.4em;
		}		
		/* this ensures sane line breaks */
		span.token {
		border:  0px solid green;
		}
    	
    	.first {
    		padding-left: 0.3em;
    		padding-right: 0.02em;
    	}
    	
    	.last {
    		padding-right: 0.3em;
    	}
    	
    	.middle {
    		padding-right: 0.02em;
    	}
    	
    	.single {
    		padding-left: 0.3em;
    		padding-right: 0.3em;
    	}
